.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Main header with logo and text */
.app__header {
    display: grid;
    grid: auto / 33% 33% 33%;
    align-items: center;
    height: 10vh;
}

.app__body {
    height: 88vh;
}

/* 'Clothes Brand' logo */
.app__logo { 
    width: 15vw; 
    margin-left: 20vw;
}

/* 'Storage' text on the top of the page */
.app__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Shippori Mincho';
    font-size: 3vh;
}

/* Pop-up modal for displaying loading icon */
#modal {
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    top: 10vh;
    left: 0;
}

/* Loading icon */
.loading {
    width: 12vw;
    margin-top: 20vh;
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinning {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
